version: "3.9"
services:
  cicms:
    image: "{{ cicms_docker_image }}:{{ cicms_docker_tag }}"
    container_name: "{{ cicms_docker_container_name }}"
    restart: unless-stopped
    env_file:
      - .env
{% if cicms_docker_ports | length > 0 %}
    ports:
{% for port in cicms_docker_ports %}
      - "{{ port }}"
{% endfor %}
{% endif %}
{% if (cicms_docker_volumes | length > 0) or (cicms_docker_tls_enabled | bool) %}
    volumes:
{% for volume in cicms_docker_volumes %}
      - "{{ volume }}"
{% endfor %}
{% if cicms_docker_tls_enabled | bool %}
      - "{{ cicms_docker_tls_cert_src }}:{{ cicms_docker_tls_cert_dest }}:ro"
      - "{{ cicms_docker_tls_key_src }}:{{ cicms_docker_tls_key_dest }}:ro"
{% endif %}
{% endif %}
{% if cicms_docker_networks | length > 0 %}
    networks:
{% for network_name in cicms_docker_networks %}
      - "{{ network_name }}"
{% endfor %}
{% endif %}
    environment:
      TLS_ENABLED: "{{ cicms_docker_tls_enabled | ternary('true', 'false') }}"
{% for env_name, env_value in cicms_docker_environment.items() %}
      {{ env_name }}: "{{ env_value }}"
{% endfor %}

{% if cicms_docker_networks | length > 0 %}
networks:
{% for network_name in cicms_docker_networks %}
  {{ network_name }}:
    external: true
{% endfor %}
{% endif %}
